body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 41, 41);
}
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("spices-black-background-space-text\(1\)-min\(1\).jpg");
  width: 100%;
  min-height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(159, 200, 212);
  color: black;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8px;
  left: 0;
  background-color: rgb(58, 58, 55);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(240, 233, 233);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgb(247, 223, 10);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;

  color: rgb(7, 7, 7);
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(247, 223, 10);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(250, 234, 12);
  text-align: left;
  cursor: pointer;
  transition: 0.6s;
}

.hero-text button:hover {
  background-color: rgb(7, 7, 1);
  color: white;
}
.hero-text button {
  border-radius: 20px;
}

.images::after {
  content: "";
  clear: both;
  display: table;
}

.h3 {
  color: #f1d21f;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.h3 {
  font-size: 30px;
  line-height: 1.304347826086957em;
}
.images {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url("");
}

.back-ground {
  background-image: url("4234428.jpg");
  width: 100%;
  height: auto;
  background-repeat: unset;
  top: 10%;
}
hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: -100px 0;
  position: relative;
}
hr:before,
hr:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 0;
}
hr:after {
  top: 0px;
  bottom: auto;
  height: 1.5em;
  background: radial-gradient(
    ellipse at top,
    rgba(0, 0, 0, 0.06) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.button {
  display: inline-block;
  padding: 1.3em 0.2em;
  font-size: 15px;
  margin: -10px 4.3em 21.3em 387px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c8d608;
  background-color: #030303;
  text-align: center;
  transition: all 0.2s;
  width: 20%;
}
.button:hover {
  background-color: #f7f7ef;
}
@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 6.2em auto;
  }
}

.button1 {
  display: inline-block;
  border-radius: 33px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c8d608;
  background-color: #030303;
  text-align: center;
  transition: all 0.2s;
  width: auto;
  padding: 19px 95px;
}
.button:hover {
  background-color: #f7f7ef;
}
@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 6.2em auto;
  }
}

* {
  box-sizing: border-box;
}
.imageColumn1 {
  float: left;
  width: 33%;
  padding: 10px;
}

img.imageColumn1 {
  border-radius: 20px;
}
.imageColumn1 {
  transition: 0.6s all ease-in-out;
}

.imageColumn1:hover {
  transform: scale(1.2);
}

.imageColumn2 {
  float: left;
  width: 33%;
  padding: 10px;
}

.imageColumn2 {
  transition: 0.6s all ease-in-out;
}

.imageColumn2:hover {
  transform: scale(0.6);
}

.imageColumn3 {
  float: left;
  width: 33%;
  padding: 10px;
}
.imageColumn3 {
  transition: 0.6s all ease-in-out;
}

.imageColumn3:hover {
  transform: scale(1.2);
}

h5 {
  color: #f3f307;
  font-size: 50px;
  text-align: center;
}

.title-underline {
  padding: 20px 134px;
  color: #e7e405;
  height: 21px;
}
.title-underline span {
  width: 105px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.title-underline span:before,
.title-underline span:after {
  width: 4px;
  height: 2px;
  background: inherit;
  position: absolute;
  content: "";
  top: 0;
  left: -9px;
}
.title-underline span:after {
  left: auto;
  right: -9px;
}
