body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 41, 41);
}
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("spices-black-background-space-text\(1\)-min\(1\).jpg");
  width: 100%;
  min-height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(159, 200, 212);
  color: black;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8px;
  left: 0;
  background-color: rgb(58, 58, 55);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(240, 233, 233);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgb(247, 223, 10);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;

  color: rgb(7, 7, 7);
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(247, 223, 10);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(250, 234, 12);
  text-align: left;
  cursor: pointer;
  transition: 0.6s;
}

.hero-text button:hover {
  background-color: rgb(7, 7, 1);
  color: white;
}
.hero-text button {
  border-radius: 20px;
}



.images::after {
  content: "";
  clear: both;
  display: table;
}

.h3 {
  color: #f1d21f;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.h3 {
  font-size: 30px;
  line-height: 1.304347826086957em;
}
.images{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation : slideBg 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url('');

}
@keyframes slideBg{
  0%{
    background-image:url('wall.jpe');
  }
  25% {
    background-image:url('preparing-raw-barbeque-chicken-cooking.jp');

  }
}



}