html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 41, 41);
}
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("spices-black-background-space-text\(1\)-min\(1\).jpg");
  width: 100%;
  min-height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(159, 200, 212);
  color: black;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8px;
  left: 0;
  background-color: rgb(58, 58, 55);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(240, 233, 233);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgb(247, 223, 10);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;

  color: rgb(255, 253, 253);
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(247, 223, 10);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(250, 234, 12);
  text-align: left;
  cursor: pointer;
  transition: 0.6s;
}

.hero-text button:hover {
  background-color: rgb(7, 7, 1);
  color: white;
}
.hero-text button {
  border-radius: 20px;
}

.images::after {
  content: "";
  clear: both;
  display: table;
}

.h3 {
  color: #f1d21f;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.h3 {
  font-size: 30px;
  line-height: 1.304347826086957em;
}
.images {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url("");
}

.back-ground {
  background-image: url("4234428.jpg");
  width: 100%;
  height: auto;
  background-repeat: unset;
  top: 10%;
}
hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: -100px 0;
  position: relative;
}
hr:before,
hr:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 0;
}
hr:after {
  top: 0px;
  bottom: auto;
  height: 1.5em;
  background: radial-gradient(
    ellipse at top,
    rgba(0, 0, 0, 0.06) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.button {
  display: inline-block;
  padding: 1.3em 0.2em;
  font-size: 15px;
  margin: -10px 4.3em 21.3em 387px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c8d608;
  background-color: #030303;
  text-align: center;
  transition: all 0.2s;
  width: 20%;
  border: 1px solid yellow;
}
.button:hover {
  background-color: #f7f7ef;
}
@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 6.2em auto;
  }
}

.button1 {
  display: inline-block;
  border-radius: 33px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c8d608;
  background-color: #030303;
  text-align: center;
  transition: all 0.2s;
  width: auto;
  padding: 19px 95px;
  border: 1px solid yellow;
}
.button1:hover {
  background-color: #f7f7ef;
}
@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 6.2em auto;
  }
}

* {
  box-sizing: border-box;

  box-sizing: border-box;
  border-radius: 3px;
}
.imageColumn1 {
  float: left;
  width: 33%;
  padding: 10px;
  opacity: 0.2;
}

.imageColumn1 {
  transition: 0.6s all ease-in-out;
}

.imageColumn1:hover {
  transform: scale(1.2);
  opacity: 1;
}

.imageColumn2 {
  float: left;
  width: 33%;
  padding: 10px;
  opacity: 0.2;
}

.imageColumn2 {
  transition: 0.6s all ease-in-out;
}

.imageColumn2:hover {
  transform: scale(0.6);
  opacity: 1;
}

.imageColumn3 {
  float: left;
  width: 33%;
  padding: 10px;
  opacity: 0.2;
}
.imageColumn3 {
  transition: 0.6s all ease-in-out;
}

.imageColumn3:hover {
  transform: scale(1.2);
  opacity: 1;
}

h5 {
  color: #f1d21f;
  font-size: 50px;
  text-align: center;
}

.title-underline {
  padding: 20px 134px;
  color: #f1d21f;
  height: 35px;
  position: relative;
  top: -88px;
}

.title-underline span:before,
.title-underline span:after {
  width: 4px;
  height: 2px;
  background: inherit;
  position: absolute;
  content: "";
  top: 0;
  left: -9px;
}
.title-underline span:after {
  left: auto;
  right: -9px;
}
.alignRow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.header {
  padding: 9px;
  text-align: center;
  background: rgb(7, 7, 7);
  color: #f1d21f;
  font-size: 32px;
  border-radius: 20px;
}

/* Caption text */

/* Number text (1/3 etc) */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 5px;
  }
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* footer*/
.text-block {
  font-size: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  background: black;
  border-radius: 31px;
  color: #fff9f9;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: center;
  padding: 8px 12px;
  margin: 8px 37px 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}

.text {
  font-size: 20px;
  color: #a1941d;
  top: 20px;
  text-align: center;
}
.frame {
  float: right;
  width: 100%;
  bottom: 30px;
}

input[type="text"] select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.footer-distributed {
  background: rgb(3, 3, 3);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: rgb(228, 210, 210);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #f0d600;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #f0d600;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(228, 243, 18);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: rgb(207, 164, 23);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #f0d600;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 25px;

  font-size: 20px;
  color: #f8d50f;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* contact form*/

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
  font-family: Helvetica Neue, "Montserrat", sans-serif;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #bdbdd3;
}
input:-moz-placeholder {
  color: #bdbdd3;
}
input::-moz-placeholder {
  color: #bdbdd3;
}
input:-ms-input-placeholder {
  color: #bdbdd3;
}

textarea::-webkit-input-placeholder {
  color: #bdbdd3;
}
textarea:-moz-placeholder {
  color: #bdbdd3;
}
textarea::-moz-placeholder {
  color: #bdbdd3;
}
textarea:-ms-input-placeholder {
  color: #bdbdd3;
}

/*==================================================================
[ Contact - Area]*/

.con-contact {
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: transparent;
}

#wrap-contact {
  width: 700px;
  background: transparent;
  border: 1px solid #b3b3b3;
  padding: 40px 0px 20px 0px;
}

.wrap-contact-image {
  width: 600px;
  background: transparent;
  padding: 40px 0px 20px 0px;
}

/*==================================================================
[ Contact - Form ]*/

.contact-form {
  width: 100%;
}

.error {
  padding: 5px 9px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
}

.success {
  padding: 5px 9px;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 90%;
  background-color: black;
  border: 1px solid #000000;
  border-radius: 37px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  background: black;
  border-radius: 31px;
  color: black;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}

/*---------------------------------------------*/

input.input {
  height: 62px;
  padding: 0 15px 0 15px;
}

textarea.input {
  min-height: 169px;
  padding: 19px 15px 0 15px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.cont-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 250px;
  height: 50px;
  background-color: transparent;
  border-radius: 7px;
  cursor: pointer;

  font-family: "Montserrat";
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 7px;
  background-color: #080808;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover:before {
  background-color: #7e730f;
}

.validate-input {
  position: relative;
}

/*==================================================================
[ Info Grid]*/

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

section#post-28 {
  padding-top: 155px;
}

button {
  float: center;
  padding: 8px 12px;
  margin: 8px 37px 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #ffbf00;
  background: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
